<div class="h-100 m-5 mt-3 d-flex flex-column justify-content-center">
    <div class="d-flex mb-2 justify-content-between">
        <div class="d-flex flex-row align-items-baseline">
            <h1 class="user-select-none">{{ 'quiz-browser.title' | translate }}</h1>
        </div>
        <button type="button" class="btn btn-success btn-lg m-1" (click)="createNewGame()">{{ 'quiz-browser.new-game' | translate }}</button>
    </div>
    <div class="overflow-auto flex-fill border mt-2 mb-5 white-bg">
        <table class="table table-striped-columns">
            <thead class="mt-2">
              <th scope="col" class="text-center">{{ 'quiz-browser.list.header.name' | translate }}</th>
              <th scope="col" class="text-center">{{ 'quiz-browser.list.header.themes' | translate }}</th>
              <th scope="col" class="text-center">{{ 'quiz-browser.list.header.players' | translate }}</th>
              <th scope="col" class="text-center">{{ 'quiz-browser.list.header.valid-date' | translate }}</th>
              <th scope="col" class="text-center"></th>
            </thead>
            <tbody class="overflow-auto">
                <tr *ngFor="let game of gamesFiltered">
                    <td class="text-center align-middle">{{ game.name }}</td>
                    <td class="text-center align-middle" ngbTooltip="{{ getThemeTooltip(game.themes) }}" container="body">
                        {{ game.themes![0].text + (game.themes!.length > 1 ? ' ...' : '') }}
                    </td>
                    <td class="text-center align-middle">{{ (!game.players ? 0 : game.players.length) + ' / ' + game.maximalPlayerNumber }}</td>
                    <td class="text-center align-middle">{{ getDateFormatted(game.closeDate) }}</td>
                    <td class="text-center align-middle">
                        <ng-container [ngSwitch]="getActionButtonType(game)">
                            <button *ngSwitchCase="'PLAY'" type="button" class="btn btn-success" (click)="startGame(game)">
                                {{ 'quiz-browser.list.play' | translate }}
                                <i class="bi bi-play"></i>
                            </button>
                            <button *ngSwitchCase="'PRE_RESULT'" type="button" class="btn btn-warning" (click)="viewResults(game, false)">
                                {{ 'quiz-browser.list.preresult' | translate }}
                                <i class="bi bi-trophy"></i>
                            </button>
                            <button *ngSwitchCase="'RESULT'" type="button" class="btn btn-info" (click)="viewResults(game, false)">
                                {{ 'quiz-browser.list.results' | translate }}
                                <i class="bi bi-trophy"></i>
                            </button>
                            <div *ngSwitchDefault id="loading" class="d-flex flex-fill justify-content-center align-items-center m-2 ms-lg-5 me-lg-5">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #t let-date let-focused="focused">
	<span
		class="custom-day"
		[class.focused]="focused"
		[class.range]="isRange(date)"
		[class.faded]="isHovered(date) || isInside(date)"
		(mouseenter)="hoveredDate = date"
		(mouseleave)="hoveredDate = undefined"
	>
		{{ date.day }}
	</span>
</ng-template>
