<app-adminnavbar></app-adminnavbar>
<div *ngIf="themes.length === 0" class="">
    <h2 class="text-center"><i>{{ 'admin.empty' | translate}}</i></h2>
</div>
<table *ngIf="themes.length !== 0" class="table table-dark table-striped table-responsive w-50 m-auto">
    <thead>
        <tr>
            <th scope="col" class="text-center">{{ 'admin.id' | translate}}</th>
            <th scope="col" class="text-left">{{ 'admin.themes.text' | translate}}</th>
            <th scope="col" class="text-center">{{ 'admin.buttons.edit' | translate}}</th>
            <th scope="col" class="text-center">{{ 'admin.buttons.delete' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let theme of currentThemes;">
            <td class="pt-3">{{themes.indexOf(theme) + 1}}</td>
            <td class="pt-3 w-100">{{theme.text}}</td>
            <td class="text-right">
                <a [routerLink]="['/theme/update/' + theme._id]" class="btn btn-warning">{{ 'admin.buttons.edit' | translate}}</a>
            </td>
            <td>
                <button type="button" (click)="deleteTheme(theme._id)" class="btn btn-danger">{{ 'admin.buttons.delete' | translate}}</button>
            </td>
        </tr> 
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="text-end">
                    <button type="button" (click)="changeCurrentThemes(-1)" class="btn btn-secondary">&lt;&lt;</button>
                </div>
            </td>
            <td>
                <div class="text-start">
                    <button type="button" (click)="changeCurrentThemes(1)" class="btn btn-secondary">&gt;&gt;</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<div class="fixed-bottom mb-3 text-center">
    <a [routerLink]="['/theme/create']" class="btn btn-primary">{{ 'admin.buttons.create' | translate}}</a>
</div>