<div class="h-100 m-5 mb-0 d-flex flex-column justify-content-center">
    <div class="row justify-content-start">
        <h1>{{ 'quiz-settings.title' | translate }}</h1>
    </div>
    <form class="flex-fill d-flex flex-column mt-5" [formGroup]="form">
        <div class="row">
            <div class="col-8">
                <div class="form-outline mb-2">
                    <label class="form-label h5" for="quizname">{{ 'quiz-browser.filters.name' | translate }}</label>
                    <input type="text" id="quizname" class="form-control" formControlName="name" />
                </div>
            </div>
            <div class="col-4">
                <label for="closedate" class="form-label">{{ 'quiz-settings.close-date' | translate }}</label>
                <div class="input-group">
                    <input class="form-control" id="closedate" [minDate]="minDate"
                        formControlName="closeDate" placeholder="éééé-hh-nn" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="row flex-fill mt-3 mb-5">
            <div class="col-4 d-flex flex-column p-3">
                <h3>{{ 'quiz-settings.category' | translate }}</h3>
                <div class="overflow-auto flex-fill border p-2 white-bg">
                    <ul class="list-group">
                        <li *ngFor="let theme of themes; let i = index">
                            <input class="form-check-input me-1" type="checkbox" value="" id="{{ 'theme' + i }}" (click)="toggleThemeSelection(theme)">
                            <label class="form-check-label" for="{{ 'theme' + i }}">{{ theme.text }}</label>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-8 p-3">
                <label for="maxplayers" class="form-label fw-bold">
                    {{ 'quiz-settings.max-players' | translate: { 'count': form.value.maximalPlayerNumber } }}
                </label>
                <input type="range" class="form-range" min="1" max="10" step="1" id="maxplayers" formControlName="maximalPlayerNumber">
                <h3>{{ 'quiz-settings.diffculty.diffculty' | translate }}</h3>
                <div class="flex-fill border p-2 white-bg">
                    <ul class="list-group border-0">
                        <li class="list-group-item border-0">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="EASY" id="easy-option" checked (change)="setDifficulty($event)">
                            <label class="form-check-label" for="easy-option">
                                {{ 'quiz-settings.diffculty.options.easy' | translate: { 'easy': 7, 'med': 3 } }}
                            </label>
                        </li>
                        <li class="list-group-item border-0">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="MEDIUM" id="med-option" (change)="setDifficulty($event)">
                            <label class="form-check-label" for="med-option">
                                {{ 'quiz-settings.diffculty.options.medium' | translate: { 'easy': 2, 'med': 6, 'hard': 2 } }}
                            </label>
                        </li>
                        <li class="list-group-item border-0">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="HARD" id="hard-option" (change)="setDifficulty($event)">
                            <label class="form-check-label" for="hard-option">
                                {{ 'quiz-settings.diffculty.options.hard' | translate: { 'med': 3, 'hard': 7 } }}
                            </label>
                        </li>
                        <li class="list-group-item border-0">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="CUSTOM" id="custom-option" #customOption (change)="setDifficulty($event)">
                            <label class="form-check-label" for="custom-option">
                                {{ 'quiz-settings.diffculty.options.custom.custom' | translate }}
                            </label>
                            <div class="row m-1">
                                <div class="col">
                                    <label class="form-label ps-0" for="easy-custom">{{ 'quiz-settings.diffculty.options.custom.easy' | translate }}</label>
                                    <input type="number" class="form-control me-1" max="7" min="0" pattern="\d+" value="" id="easy-custom" formControlName="easyQuestions" (change)="handleInputChange()">
                                </div>
                                <div class="col">
                                    <label class="form-label ps-0" for="med-custom">{{ 'quiz-settings.diffculty.options.custom.medium' | translate }}</label>
                                    <input type="number" class="form-control me-1" max="7" min="0" pattern="\d+" value="" id="med-custom" formControlName="mediumQuestions" (change)="handleInputChange()">
                                </div>
                                <div class="col">
                                    <label class="form-label ps-0" for="hard-custom">{{ 'quiz-settings.diffculty.options.custom.hard' | translate }}</label>
                                    <input type="number" class="form-control me-1" max="7" min="0" pattern="\d+" value="" id="hard-custom" formControlName="hardQuestions" (change)="handleInputChange()">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-fill justify-content-end mt-3">
                    <button type="button" class="btn btn-primary btn-lg m-1" [disabled]="form.invalid" (click)="createGame()">{{ 'quiz-settings.create' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
