<div class="h-100 border d-flex align-items-center justify-content-center">
    <div class="w-25">
        <h1 class="center">{{ 'login.title' | translate }}</h1>
        <form>
            <div class="form-outline mb-4">
                <label class="form-label" for="username">{{ 'login.username' | translate }}</label>
                <input type="text" id="username" class="form-control" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="password">{{ 'login.password' | translate }}</label>
                <input type="password" id="password" class="form-control" />
            </div>
        </form>
    </div>
</div>
