<div class="modal-header">
    <div class="modal-title fs-4" id="userStatTitle">{{ 'statistics.user.title' | translate: { username: user?.username } }}</div>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div *ngIf="!!statistics; else loading" class="d-flex mb-5">
        <div class="d-flex flex-column w-25">
            <div class="fs-4">
                {{ 'statistics.user.points' | translate }}
            </div>
            <div class="fs-4 mb-2">
                {{ round(statistics.averagePoints) }}
            </div>
            <div class="fs-4">
                {{ 'statistics.user.themes' | translate }}
            </div>
            <div class="d-flex overflow-auto border white-bg p-1">
                <div class="w-100" [ngClass]="{ 'd-flex': favThemes.length === 0 }">
                    <table id="popular-themes" class="table table-striped-columns">
                        <thead>
                            <th scope="col" class="text-center align-middle"> # </th>
                            <th scope="col" class="text-center align-middle"> {{ 'statistics.theme-table.name' | translate }} </th>
                            <th scope="col" class="text-center align-middle text-wrap"> {{ 'statistics.theme-table.count' | translate }} </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let themeCount of favThemes; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ themeCount.text }}</td>
                                <td>{{ themeCount.gameCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="statGroup" class="d-flex flex-column w-75 ms-4">
            <div class="fs-4">
                {{ 'statistics.groups.title' | translate }}
            </div>
            <div class="d-flex flex-fill flex-column">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link border white-bg" [ngClass]="{ 'active': activeTab === 'DIFF' }" (click)="tabClicked('DIFF')" role="button">
                            {{ 'statistics.groups.diff' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border white-bg" [ngClass]="{ 'active': activeTab === 'THEME' }" (click)="tabClicked('THEME')" role="button">
                            {{ 'statistics.groups.themes' | translate }}
                        </a>
                    </li>
                </ul>
                <div id="tableFrame" class="d-flex overflow-auto border border-top-0 white-bg p-1">
                    <div class="w-100">
                        <table class="table table-striped-columns overflow-auto">
                            <thead>
                                <th scope="col" class="text-center align-middle">{{ getGroupName() }}</th>
                                <th scope="col" class="text-center align-middle">{{ 'statistics.group-table.avg' | translate }}</th>
                                <th scope="col" class="text-center align-middle text-wrap">{{ 'statistics.group-table.ratio-easy' | translate }}</th>
                                <th scope="col" class="text-center align-middle text-wrap">{{ 'statistics.group-table.ratio-medium' | translate }}</th>
                                <th scope="col" class="text-center align-middle text-wrap">{{ 'statistics.group-table.ratio-hard' | translate }}</th>
                                <th scope="col" class="text-center align-middle text-wrap">{{ 'statistics.group-table.ratio-all' | translate }}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let group of activeTab === 'DIFF' ? statistics.answersByDifficulty : statistics.answersByTheme">
                                    <th scope="row">
                                        {{ activeTab === 'DIFF'? (('statistics.difficulty.' + group.groupName) | translate) : group.groupName }}
                                    </th>
                                    <td>{{ round(group.averagePoints) }}</td>
                                    <td>{{ round(group.correctAnswerRatioEasy) }}</td>
                                    <td>{{ round(group.correctAnswerRatioMedium) }}</td>
                                    <td>{{ round(group.correctAnswerRatioHard) }}</td>
                                    <td>{{ round(group.correctAnswerRatioAll) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div  class="d-flex flex-fill justify-content-center fs-3 align-items-center">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-template>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">{{ 'statistics.user.ok' | translate }}</button>
</div>