.modal-body {
    max-height: 60vh;
    overflow-y: hidden;
}

.table {
    margin-bottom: 0;
}

#statGroup {
    max-height: 56vh;
    overflow-y: hidden;
}

#tableFrame {
    max-height: 45vh;
    overflow-y: hidden;
}