<div class="h-100 border d-flex flex-column align-items-center justify-content-center">
    <div id="title" class="row m-5">
        <h1>{{ 'home.title' | translate }}</h1>
    </div>
    <div id="menu" class="row flex-fill align-items-center p-5 w-100 fs-1">
        <div id="new-game" class="col card p-5 m-xxl-5 m-3 align-items-center text-center" (click)="navigateTo('browser')">
            <i class="bi bi-lightbulb"></i>
            {{ 'home.menu.new-game' | translate }}
        </div>
        <div class="col card p-5 m-xxl-5 m-3 align-items-center">
            <i class="bi bi-trophy"></i>
            {{ 'home.menu.ranks' | translate }}
        </div>
        <div class="col card p-5 m-xxl-5 m-3 align-items-center">
            <i class="bi bi-bar-chart-line-fill"></i>
            {{ 'home.menu.statistics' | translate }}
        </div>
        <div class="col card p-5 m-xxl-5 m-3 align-items-center">
            <i class="bi bi-chat-left-text"></i>
            {{ 'home.menu.forum' | translate }}
        </div>
    </div>
    <div class="row w-100 me-5 mb-5 align-items-end">
        <div id="user-options" class="col d-flex justify-content-end">
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <button 
                    type="button" 
                    class="btn btn-primary btn-lg m-1">
                        <i class="bi bi-door-open-fill"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary btn-lg m-1">
                        <i class="bi bi-gear-fill"></i>
                </button>
            </div>
            
            <button 
                type="button" 
                class="btn btn-primary btn-lg m-1"
                (click)="isCollapsed = !isCollapsed">
                    <i class="bi bi-person-fill"></i>
            </button>
        </div>
    </div>
</div>
