<div class="h-100 border d-flex flex-column align-items-center justify-content-center">
    <div class="w-50 mt-5 d-flex">
        <div class="input-group">
            <span class="input-group-text">{{ 'forum-browser.question' | translate }}</span>
            <textarea id="area" maxlength="250" class="form-control" #textArea></textarea>
            <button class="btn btn-outline-primary" type="button" id="add" (click)="create(textArea.value)">
                {{ 'forum-browser.create' | translate }}
            </button>
        </div>
    </div>
    <div *ngIf="isLoading | async" class="w-50 mt-2 mb-5 flex-fill">
        <div *ngIf="forums!.length === 0" class="d-flex position-absolute w-100 h-100 align-items-center justify-content-center">
            <h2><i>{{ 'admin.empty' | translate}}</i></h2>
        </div>
        <div *ngIf="forums!.length !== 0">
            <div class="d-flex flex-column flex-fill align-items-center forum-browser">
                <div *ngFor="let forum of forums; let i = index" class="w-100">
                    <a class="nav-link d-inline-block w-100 fs-2 mt-1 mb-3" [routerLink]="['/forum/' + forum._id]">
                        <div class="col bg-primary text-white card py-2 px-5 align-items-center text-center">
                            <div>{{ forum.question }}</div>
                            <div class="h6">
                                {{ 'forum-browser.written' | translate }} {{ forum.author.username }}
                            </div>
                            <div class="h6">
                                {{ 'forum-browser.answersNumber' | translate }} {{(forum.comments === null ? 0 : forum.comments!.length)}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>