<div class="h-100 border d-flex flex-column align-items-center justify-content-center overflow-auto">
    <div id="title" class="row m-5">
        <h1>{{ 'home.title' | translate }}</h1>
    </div>
    <div id="menu" class="row align-items-center p-5 w-100 fs-1 mb-5">
        <div id="new-game" class="col card p-5 m-4 align-items-center text-center">
            <i class="bi bi-lightbulb"></i>
            {{ 'home.menu.new-game' | translate }}
        </div>
        <div class="col card p-5 m-4 align-items-center">
            <i class="bi bi-trophy"></i>
            {{ 'home.menu.ranks' | translate }}
        </div>
        <div class="col card p-5 m-4 align-items-center">
            <i class="bi bi-bar-chart-line-fill"></i>
            {{ 'home.menu.statistics' | translate }}
        </div>
        <div class="col card p-5 m-4 align-items-center">
            <i class="bi bi-chat-left-text"></i>
            {{ 'home.menu.forum' | translate }}
        </div>
    </div>
<div>