/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

app-root, app-login {
    display: block;
    height: 100% !important;
}

html, body {
    height: 100% !important;
    overflow-y: hidden;
}
