/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

app-root, app-login {
    display: block;
    height: 100% !important;
}

html, body {
    height: 100% !important;
    overflow-y: hidden;
}

html {
    background-image: url('./assets/pictures/vectorstock_30182681.png');
    
    body {
        background-color: rgba($color: #ffffff, $alpha: 0.9);
    }
}

.white-bg {
    background-color: #ffffff;
}

.mt-6 {
    margin-top: ($spacer * 6) !important;
}

.forum-browser {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.forum-browser::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}